<h3 class="alert alert-info">Country's information</h3>
<div class="alert alert-info position-sticky fixed-top">
  <p class="text-center">
    <img
      [src]="country.flag"
      [alt]="country.name"
      class="img-thumbnail"
      style="height: 100px; max-width: 150px"
    >
  </p>
  <p><strong>Name:</strong> {{ country.name }}</p>
  <p><strong>Native name:</strong> {{ country.nativeName }}</p>
  <p><strong>Alpha3Code:</strong> {{ country.alpha3Code }}</p>
  <p><strong>Capital:</strong> {{ country.capital }}</p>
  <p><strong>Region:</strong> {{ country.region }}</p>
  <p><strong>Borders:</strong></p>
  <ul>
    <li *ngFor="let border of country.borders">{{ border }}</li>
  </ul>
  <p><strong>Population:</strong> {{ country.population }}</p>
</div>
