<header>
  <app-toolbar></app-toolbar>
</header>
<div class="container">
  <div class="row mt-3">
    <div class="col-4 mr-5">
      <app-countries-list></app-countries-list>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
