<h3 class="alert alert-primary">Countries list</h3>
<div class="list-group" *ngIf="!isLoading; else loadingSpinner">
  <a
    *ngFor="let country of countries"
    class="list-group-item list-group-item-action"
    [routerLink]="['/country', country.alpha3Code]"
    routerLinkActive="active"
  ><strong>{{ country.name }}</strong> ({{ country.alpha3Code }})
  </a>
</div>
<ng-template #loadingSpinner>
   <span *ngIf="isLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
   </span>
</ng-template>




